.chart {
    padding: 1rem;
    border-radius: 12px;
    background-image: linear-gradient(to left, rgb(8, 8, 104), rgb(11, 186, 245));
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }